

        <div class="uk-padding mWMob">
            <div class="uk-card uk-card-default uk-card-body ">
    <form class="uk-padding">
        <fieldset class="uk-fieldset" style="direction: rtl">
    
           
            <h2 class="uk-legend">اضافة مستخدم جديد</h2>
    
    
            <div class="uk-margin">
                <input  class="uk-input" name="email"  type="email" placeholder="ايميل المستخدم" [(ngModel)]="email" required>
            </div>
            <div class="uk-margin">
                <input class="uk-input" name="password" type="password"  placeholder="كلمة المرور" [(ngModel)]="password" required>
            </div>
            
            <div class="uk-margin">
                <p id="erroor"></p>
            </div>
         
        
         
    
            <div class="uk-margin">
                <button class="uk-button uk-button-primary" type="button" (click)="addAdmin()" >اضافة</button>&nbsp;
                </div>        

                
    
    
    
    
    
        </fieldset>
    </form>
    </div>
    </div>






