<div class="uk-padding mWMob">
        <div class="uk-card uk-card-default uk-card-body ">
<form style="padding: 5%;" (onClose)="removeImg()">
    <fieldset class="uk-fieldset" style="direction: rtl">
    
        <legend class="uk-legend">تعديل الموضوع</legend>


        <div class="uk-margin">
            <img class="uk-border" style="display: block;margin-left: auto;margin-right: auto;" width="40" height="40" src="{{thDataImgUrl}}">
        </div>

        <div class="uk-margin">
            <input  class="uk-input" name="title" [(ngModel)]="thData.title" type="text" placeholder="عنوان الموضوع" required>
        </div>
        <div class="uk-margin">
            <input class="uk-input" name="subTitle" type="text" [(ngModel)]="thData.subTitle" placeholder="وصف لعنوان الموضوع " required>
        </div>
        

        <div class="uk-margin">
            <textarea class="uk-textarea" rows="5" id="deatils" name="deatils" [(ngModel)]="thData.deatils" placeholder="التفاصيل" required></textarea>
            
        </div>

        <div class="js-upload" uk-form-custom style="display: block;"><br>
            <input type="file" multiple  (change)="urlLi($event)" accept=".png,.jpg">
            <button class="uk-button uk-button-secondary" type="button"  tabindex="-1">حمل الايقونة</button>
        </div>
   

        <div class="uk-margin" id="clicks">
            <button class="uk-button uk-button-secondary"  (click)="GoTo()" style="display: inline;">تراجع</button>  
        <button class="uk-button uk-button-primary" type="button" (click)="UpdatDat(thData)">حفظ</button>        
        <button class="uk-button uk-button-danger" (click)="Removee(thDataId)" >حذف</button>
      </div>        

      
      
      



    </fieldset>
</form>
</div>
</div>

